.background {
    -fx-background-color: white;
}


.title {
    -fx-font-size: 28px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.button-primary {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
}

.button-primary:hover {
    -fx-background-color: #333333;
}
